In [ ]:
#Task 1--
a=[1,2,3,5,8,10]
b=[6,8,9,4]
a+b

[1, 2, 3, 5, 8, 10, 6, 8, 9, 4]

In [ ]:
#Task 2--

num= int(input("Enter your number: "))
if (num%2) == 0:
   print("{0} is Even".format(num))
else:
    print(" is odd".format(num))

Enter your number: 5
 is odd

In [ ]:
#Task 3--
d1 = {'s.no':[1,2,3],'Name':['praveen','jayanth','ravi'],'Rollno':[7,3,5]}
d1
{'S.no':[1,2,3],
 'Name': ['praveen','jayanth','ravi'],
 'Rollno': [7,3,5]}

{'S.no': [1, 2, 3],
 'Name': ['praveen', 'jayanth', 'ravi'],
 'Rollno': [7, 3, 5]}

In [ ]:
#Task 4--
def find_odd_number(start, end):
  for num in range(start, end +1):
    if num % 2 != 0:
      print(num)

find_odd_number(1,10)

1
3
5
7
9

In [ ]:
#Task 5--
def sum(numbers):
      total = 0
      for x in numbers:
          total += x
      return total
print(sum((8,2,3,0,7)))

20